* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #0f172a;
    color: white;
}

/* ===== CARD ===== */
.card {
    background: #1e293b;
    width: 100vw;
    min-height: 100vh;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
}

/* ===== TITLE ===== */
h1 {
    font-size: 120px;
    text-align: center;
    color: #bca9bb;
    margin-bottom: 20px;
}

/* ===== CENTER AREA ===== */
.blog-bt {
    flex: 1;                     /* ❗ ให้พื้นที่พอ */
    display: flex;
    flex-direction: column;
    justify-content: center;     /* กลางแนวตั้ง */
    align-items: center;
    gap: 100px;                   /* ระยะ temp ↔ ปุ่ม */
}

/* ===== TEMP ===== */
.temp-line {
    font-size: 120px;
    color: #bca9bb;

}
.temp-line {
    margin-top: -100px;
}


/* ===== BUTTONS ===== */
.blog-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

button {
    font-weight: 800;
    width: 100%;
    padding: 90px;
    font-size: 80px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* ❌ ไม่ใช้ position / top อีกแล้ว */

.up {
    background: linear-gradient(135deg, #6d3535, #dc2626);
    color: rgb(50, 37, 37);
    box-shadow: 0 6px 15px rgba(239, 68, 68, 0.4);
}

.down {
    background: linear-gradient(135deg, #4283a1, #1f4148);
    color: rgb(10, 21, 70);
    box-shadow: 0 5px 15px #0d697b;
}

button:hover {
    opacity: 0.6;
    transform: translateY(-2px);
}

/* ===== FOOTER MENU ===== */
.blog-page {
    display: flex;
    justify-content: space-between;
    margin-top: auto;     /* ✔ ดันไปล่างสุด */
}

a {
    text-decoration: none;
    color: #e1e299;
}

.page1 h3,
.page3 h3 {
    font-size: 40px;
    border-radius: 90px;
    padding: 80px;
    background: linear-gradient(135deg, #1e38cc, #4f2b89);
    box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
    transition: transform 0.15s, opacity 0.15s;
}

.page1:hover,
.page3:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}
