* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #0f172a;
    color: white;
}

/* ===== CARD ===== */
.card {
    background: #1e293b;
    width: 100vw;
    min-height: 100vh;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
}






h1 {
    font-size: 120px;
    text-align: center;
    color: #bca9bb;
    margin-bottom: 25px;
}

.blog-bt {
    flex: 0.2;
    /* กินพื้นที่กลาง */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* กลางแนวตั้ง */
    align-items: center;
    gap: 3px;
}

.temp-line {
    font-size: 120px;
    color: #bca9bb;
    margin: 40px 0;
}



button {
    width: 100%;
    padding: 90px;
    font-size: 50px;
    border-radius: 100px;
    margin: 0;
}


.down {
    position: relative;
    top: 150px;
    font-weight: 600;
    background: linear-gradient(135deg, #4283a1, #1f4148);
    color: rgb(10, 21, 70);
    box-shadow: 0 5px 15px #0d697b;
}

.up {
        position: relative;
    top: 90px;
    background: linear-gradient(135deg, #6d3535, #dc2626);
    color: rgb(50, 37, 37);
    box-shadow: 0 6px 15px rgba(239, 68, 68, 0.4);
}



button:hover {
    opacity: 0.5;
}

.up:hover,
.down:hover {
    transform: translateY(-2px)
}

a:hover {
    opacity: 0.5;

}

.blog-page {
    position: relative;
    top: 550px;
    display: flex;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: #0e1a22;
    padding: 50px;

}

.page1:hover,
.page3:hover {
    transform: translateY(-2px)
}

.page1 h3 {
    font-size: 40px;
    border: solid 1px #1f4148;
    border-radius: 90px;
    padding: 80px;
    background-color: #4283a1;
    background: linear-gradient(135deg, #1e38cc, #4f2b89);
    box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
    transition: transform 0.15s, opacity 0.15s;

}


.page1,
.page3 {
    transition: transform 0.15s, opacity 0.15s;
}

.page3 h3 {
    font-size: 40px;
    border: solid 1px #1f4148;
    border-radius: 90px;
    padding: 80px;
    background-color: #4283a1;
    background: linear-gradient(135deg, #1e38cc, #4f2b89);
    box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
    transition: transform 0.15s, opacity 0.15s;
}

.page2 a {
    color: #181811;
    transform: translateY(-2px)
}

.page3 a {
    color: #161610;

}
