    * {

      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }

    body {

      margin-top: 180px;
      font-family: Arial, sans-serif;
      background: #0f172a;
      color: white;
      display: flex;
      text-align: center;
      justify-content: center;


    }

    .card {
      background: #1e293b;
      padding: 50px;
      border-radius: 15px;
      width: 300px;
      justify-content: center;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    }

    h2 {

      position: relative;
      top: -40px;
      color: #bca9bb;
    }

    .blog-button {
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    p {
      border: solid #526eae 3px;
      border-radius: 50px;
      padding: 1rem;

    }

    button {
      width: 100%;
      padding: 15px;
      margin: 10px 0;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
    }

    .on {
      font-weight: 500;
      background-color: #032e43;
      background: linear-gradient(135deg, #1ecca0, #0dbb19);
      box-shadow: 0 8px 20px rgba(19, 223, 98, 0.4);
      transition: transform 0.15s, opacity 0.15s;
    }

    .off {
      font-weight: 500;
      background: linear-gradient(135deg, #d51313, #d15a5acd);
      box-shadow: 0 8px 20px rgba(206, 63, 15, 0.4);
      transition: transform 0.15s, opacity 0.15s;
    }

    button:hover {
      opacity: 0.5;
      transform: translateY(-2px);
    }

    .page2 h3:hover,
    .page3 h3:hover {
      opacity: 0.5;
      transform: translateY(-2px)
    }


    a {
      text-decoration: none;
      font-weight: 610;
    }

    .blog-page {
      position: relative;
      top: 40px;
    }

    .page2 h3 {

      border: solid 1px #1f4148;
      border-radius: 1rem;
      padding: 8px;
      background-color: #4283a1;
      background: linear-gradient(135deg, #1e38cc, #4f2b89);
      box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
      transition: transform 0.15s, opacity 0.15s;
    }

    .page3 h3 {
      border: solid 1px #1f4148;
      border-radius: 1rem;
      padding: 8px;
      background-color: #4283a1;
      background: linear-gradient(135deg, #1e38cc, #4f2b89);
      box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
      transition: transform 0.15s, opacity 0.15s;
    }

    .page2 a {
      color: #181811;
    }

    .page3 a {
      color: #161610;
    }