/* ===== RESET ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background: #0f172a;
    color: white;
}

/* ===== APP CONTAINER ===== */
.card {
    width: 100vw;
    height: 100vh;
    background: #1e293b;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
}

/* ===== TITLE ===== */
h2 {
    text-align: center;
    font-size: 6.5rem;
    color: #bca9bb;
    margin-bottom: 10px;
    margin-top: 50px;
}

/* ===== ON / OFF BUTTONS ===== */
.blog-button {
    display: flex;
    gap: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    flex: 1;
    padding: 150px 0;
    font-size: 5.5rem;
    font-weight: 600;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: transform 0.15s, opacity 0.15s;
}

/* ON */
.on {

    background: linear-gradient(135deg, #1ecca0, #0dbb19);
    box-shadow: 0 8px 20px rgba(19, 223, 98, 0.4);
    color: #b7becd;
}

/* OFF */
.off {
    background: linear-gradient(135deg, #d51313, #d15a5a);
    box-shadow: 0 8px 20px rgba(206, 63, 15, 0.4);
    color: #b1b9cd;
}

button:hover {
    opacity: 0.7;
    transform: translateY(-2px);
}

/* ===== BOTTOM MENU ===== */
.blog-page {
    display: flex;
    flex-direction: column;
    align-items: center;   /* จัดกลางแนวนอน */
    gap: 40px;
    margin-bottom: 4rem;
}


/* TEMP / VALUE */
.page2 h3 a{
    display: inline-block;   /* สำคัญ */
    width: auto;             /* ไม่ให้ยืด */
    align-self: center;      /* จัดกึ่งกลาง */
    
    padding: 50px 160px;      /* คุมความกว้างด้วย padding */
    font-size: 5rem;
    border-radius: 100px;

    background: linear-gradient(135deg, #1e38cc, #4f2b89);
    box-shadow: 0 6px 16px rgba(14, 165, 233, 0.4);

    color: #0f172a;
    text-decoration: none;

    transition: transform 0.15s, opacity 0.15s;
}
.page3 h3 a {
    display: inline-block;   /* สำคัญ */
    width: auto;             /* ไม่ให้ยืด */
    align-self: center;      /* จัดกึ่งกลาง */
    
    padding: 50px 150px;      /* คุมความกว้างด้วย padding */
    font-size: 5rem;
    border-radius: 100px;

    background: linear-gradient(135deg, #1e38cc, #4f2b89);
    box-shadow: 0 6px 16px rgba(14, 165, 233, 0.4);

    color: #0f172a;
    text-decoration: none;

    transition: transform 0.15s, opacity 0.15s;
}


.page2 h3:hover a,
.page3 h3:hover a {
    opacity: 0.75;
    transform: translateY(-2px);
}
