* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0f172a;
  color: white;
}

/* ===== CARD ===== */
.card {
  background: #1e293b;
  width: 100vw;
  min-height: 100vh;
  padding: 40px 25px;
  border-radius: 0;      /* มือถือมักไม่โค้ง */
  box-shadow: none;     /* ไม่ต้องมีเงา */
}


/* ===== TITLE ===== */
h2 {
    font-size: 100px;
    text-align: center;
  color: #bca9bb;
  margin-bottom: 25px;
}

/* ===== BUTTON GROUP ===== */
.blog-button {
    margin-top: 200px;
  display: flex;
  gap: 12px;
}

button {
  flex: 1;
  padding: 150px;
  font-size: 70px;
  border: none;
  border-radius: 120px;
  cursor: pointer;
  transition: transform 0.15s, opacity 0.15s;
}

/* ===== ON / OFF ===== */
.on {
  font-weight: 500;
  background: linear-gradient(135deg, #1ecca0, #0dbb19);
  box-shadow: 0 8px 20px rgba(19, 223, 98, 0.4);
}

.off {
  font-weight: 500;
  background: linear-gradient(135deg, #d51313, #d15a5a);
  box-shadow: 0 8px 20px rgba(206, 63, 15, 0.4);
}

button:hover {
  opacity: 0.6;
  transform: translateY(-2px);
}

/* ===== PAGE NAV ===== */
.blog-page {
  margin-top: 300px;


}



.page2 h3,
.page3 h3 {
  padding: 100px;
  
  border-radius: 104px;
  background: linear-gradient(135deg, #1e38cc, #4f2b89);
  box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
  transition: transform 0.15s, opacity 0.15s;
}
.page2 h3 a{
 position: relative;
 left: 230px;
 font-size: 100px;
}
.page3 h3 a{
 position: relative;
 left: 230px;

 font-size: 100px;
}
.page2 h3:hover,
.page3 h3:hover {
  opacity: 0.6;
  transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: #0f172a;

}

/* ===== SMALL SCREEN ===== */
@media (max-width: 480px) {
  .card {
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
}
