    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }

    body {

      margin-top: 180px;
      font-family: Arial, sans-serif;
      background: #0f172a;
      color: white;
      display: flex;
      text-align: center;
      justify-content: center;


    }

    .card {
      background: #1e293b;
      padding: 40px;
      padding-bottom: 85px;
      border-radius: 15px;
      width: 300px;
      justify-content: center;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

    }

    .blog-bt {
      display: flex;
      justify-content: space-between;
    }

    .blog-bt h1 {
      margin-top: 50px;
      margin-left: 30px;

    }

    h1 {

      margin-bottom: 30px;
      border-radius: 10px;
      margin-top: -10px;
      color: #bca9bb;
    }

    p {

      border: solid #526eae 3px;
      border-radius: 50px;
      padding: 1rem;

    }

    button {
      width: 100%;
      padding: 15px;
      margin: 10px 0;
      font-size: 18px;
      border: solid rgb(68, 59, 76);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
    }

    .down {
      font-weight: 600;
      background: linear-gradient(135deg, #4283a1, #1f4148);
      color: rgb(10, 21, 70);
      box-shadow: 0 5px 15px #0d697b;
    }

    .up {

      background: linear-gradient(135deg, #6d3535, #dc2626);
      color: rgb(50, 37, 37);
      box-shadow: 0 6px 15px rgba(239, 68, 68, 0.4);
    }



    button:hover {
      opacity: 0.5;
    }

    .up:hover,
    .down:hover {
      transform: translateY(-2px)
    }

    a:hover {
      opacity: 0.5;

    }

    .blog-page {
      position: relative;
      top: 55px;
      display: flex;
      justify-content: space-between;

    }

    a {
      text-decoration: none;
      color: #0e1a22;
    }

    .page1:hover,
    .page3:hover {
      transform: translateY(-2px)
    }

    .page1 h3 {

      border: solid 1px #1f4148;
      border-radius: 1rem;
      padding: 8px;
      background-color: #4283a1;
      background: linear-gradient(135deg, #1e38cc, #4f2b89);
      box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
      transition: transform 0.15s, opacity 0.15s;

    }
    .temp-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;      
  border: solid ;
  padding: 10px ;
}

.page1 ,
.page3{
   transition: transform 0.15s, opacity 0.15s;
}
    .page3 h3 {
      border: solid 1px #1f4148;
      border-radius: 1rem;
      padding: 8px;
      background-color: #4283a1;
      background: linear-gradient(135deg, #1e38cc, #4f2b89);
      box-shadow: 0 8px 20px rgba(14, 165, 233, 0.4);
      transition: transform 0.15s, opacity 0.15s;
    }

    .page2 a {
      color: #181811;
      transform: translateY(-2px)
    }

    .page3 a {
      color: #161610;

    }